
body{
    background: url('https://s3-media4.fl.yelpcdn.com/bphoto/uX6zHvvYHa8zZvwI38wBDw/o.jpg');
    background-size: cover;
}

a{
    padding-bottom: 15%;
}

.playGame{
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;

}

.jeoparybutton{
   padding-bottom: 20%;
}