@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

body{
    background: url('https://s3-media4.fl.yelpcdn.com/bphoto/uX6zHvvYHa8zZvwI38wBDw/o.jpg');
    background-size: cover;
}

.playGame{
    font: bold 20px "Noto Serif JP";
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;

}

.jeoparybutton{
     padding-top: 45%;
 }