@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
p{
     font-family: "Noto Serif JP";
     font-size: 50px;
     text-shadow: 2px 2px #000000;
     color: cornflowerblue;
 }
h1{
    font-family: "Noto Serif JP";
    font-size: 70px;
    text-shadow: 2px 2px #000000;
    color: cornflowerblue;
}

body{
    background: url("/images/scribble_light.png");
    background-size: cover;
}


.nextquestion{
    font: bold 20px "Noto Serif JP";
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;

}

.nextquestiondiv{
    padding-top: 45%;
}