p{
    font-family: "Noto Serif JP";
    font-size: 50px;
    text-shadow: 2px 2px #000000;
    color: cornflowerblue;
}
h1{
    font-family: "Noto Serif JP";
    font-size: 70px;
    text-shadow: 2px 2px #000000;
    color: cornflowerblue;
}